.component {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: .5rem;
  margin: .25rem;
  background-color: lightgray;

  &:hover {
    background-color: black;
    color: white;
    cursor: pointer;
  }
}
